{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "lambda:CreateFunction",
                "logs:*",
                "iam:CreateRole",
                "iam:AttachRolePolicy",
                "cloudformation:UpdateStackSet",
                "cloudformation:CreateChangeSet",
                "ecr:BatchDeleteImage",
                "iam:PutRolePolicy",
                "ecr:DeleteRepository",
                "cloudformation:ContinueUpdateRollback",
                "cloudformation:DescribeStackEvents",
                "iam:DetachRolePolicy",
                "cloudformation:UpdateStack",
                "lambda:DeleteFunction",
                "cloudformation:DescribeChangeSet",
                "apigateway:GET",
                "ecr:BatchCheckLayerAvailability",
                "cloudformation:ListStackResources",
                "iam:GetRole",
                "lambda:InvokeFunction",
                "ecr:CreateRepository",
                "ecr:GetDownloadUrlForLayer",
                "cloudformation:DescribeStackResources",
                "iam:DeleteRole",
                "cloudformation:DescribeStacks",
                "ecr:PutImage",
                "cloudformation:RollbackStack",
                "cloudformation:GetStackPolicy",
                "cloudformation:DeleteStack",
                "ecr:BatchGetImage",
                "apigateway:POST",
                "ecr:InitiateLayerUpload",
                "cloudformation:CancelUpdateStack",
                "lambda:GetLayerVersion",
                "lambda:PublishLayerVersion",
                "sns:ListTopics",
                "apigateway:DELETE",
                "iam:PassRole",
                "iam:DeleteRolePolicy",
                "apigateway:PATCH",
                "lambda:DeleteLayerVersion",
                "ecr:DescribeRepositories",
                "cloudformation:ListStacks",
                "s3:*",
                "apigateway:PUT",
                "lambda:GetFunction",
                "ram:GetResourceShareAssociations",
                "lambda:UpdateFunctionConfiguration",
                "iam:ListRoles",
                "cloudformation:GetTemplateSummary",
                "es:*",
                "lambda:AddPermission",
                "cloudformation:CreateStack",
                "ecr:SetRepositoryPolicy",
                "lambda:RemovePermission",
                "cloudformation:ListChangeSets",
                "ecr:GetRepositoryPolicy"
            ],
            "Resource": "*"
        }
    ]
}