[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.19.5"
onnxruntime = "~=1.16.0"
Pillow = "9.0.0"
base64image = "~=0.5.1"
scikit-image = "~=0.18.2"

[dev-packages]
pytest = "~=6.2.1"

[requires]
python_version = "3.8"

