[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.19.5"
six = "~=1.16.0"
urllib3 = "~=1.26.6"
python-dateutil = "~=2.8.1"
base64image = "~=0.5.1"
#openvino = "~=2021.4.0"
Pillow = "9.0.0"

[dev-packages]
pytest = "~=6.2.1"

[requires]
python_version = "3.8"
